<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSSOCIAL_FACEBOOK_APP_ID</key>
	<string>374181845997697</string>
	<key>CSSOCIAL_FACEBOOK_PERMISSIONS</key>
	<array>
		<string>user_about_me</string>
		<string>user_photos</string>
		<string>publish_stream</string>
	</array>
</dict>
</plist>
