<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSSOCIAL_LINKEDIN_API_KEY</key>
	<string>96d7x8a8y1c4</string>
	<key>CSSOCIAL_LINKEDIN_API_SECRET</key>
	<string>FVqB3HidfRt4h8Nf</string>
	<key>CSSOCIAL_TWITTER_CONSUMER_KEY</key>
	<string>nyuD5tXoKAgFbKavnQXrtg</string>
	<key>CSSOCIAL_TWITTER_CONSUMER_SECRET</key>
	<string>XTG1yWb3HRvP9vyzRmvf3ODjkkD2LjlSainsFgjoU</string>
	<key>CSSOCIAL_FACEBOOK_APP_ID</key>
	<string>374181845997697</string>
	<key>CSSOCIAL_FACEBOOK_PERMISSIONS_READ</key>
	<array>
		<string>user_about_me</string>
		<string>user_photos</string>
	</array>
	<key>CSSOCIAL_FACEBOOK_PERMISSIONS_PUBLISH</key>
	<array>
		<string>publish_stream</string>
	</array>
	<key>CSSOCIAL_GOOGLEPLUS_CLIENT_ID</key>
	<string>268592120777.apps.googleusercontent.com</string>
</dict>
</plist>
